checkpoints/
environment.yml
hard_hat_dataset/
processed_splits/
DETR_reimplementation/
Helmet_DETR.ipynb
requirements.txt
moondream2_finetune/extended_model.py
moondream2_finetune/simple_processed_splits/