checkpoints/
moondream2_finetune/checkpoints_final/
environment.yml
moondream2_finetune/hard_hat_dataset/
hard_hat_dataset/
processed_splits/
DETR_reimplementation/
Helmet_DETR.ipynb
requirements.txt
moondream2_finetune/extended_model.py
moondream2_finetune/final_processed_splits/
moondream2_finetune/api.py
moondream2_finetune/outputs/
moondream2_finetune/checkpoints_final_best_0/
moondream2_finetune/checkpoints_final_best_1/
moondream2_finetune/checkpoints_final_best_2/
moondream2_finetune/checkpoints_final_best_3/
moondream2_finetune/checkpoints_final_best_4/
moondream2_finetune/output_best_10_epochs.log
moondream2_finetune/output_best_questions.log
moondream2_finetune/output_final_10_epochs.log
moondream2_finetune/evaluate_model.py